@font-face {
    font-family: "homizio-thin";
    src: url("../fonts/homizio/thin.ttf") format("eot"),
         url("../fonts/homizio/thin.woff2") format("woff2"),
         url("../fonts/homizio/thin.woff") format("woff"),
         url("../fonts/homizio/thin.ttf") format("truetype"),
         url("../fonts/homizio/thin.svg#thin") format("svg");
}

@font-face {
    font-family: "homizio-light";
    src: url("../fonts/homizio/light.ttf") format("eot"),
         url("../fonts/homizio/light.woff2") format("woff2"),
         url("../fonts/homizio/light.woff") format("woff"),
         url("../fonts/homizio/light.ttf") format("truetype"),
         url("../fonts/homizio/light.svg#light") format("svg");
}

@font-face {
    font-family: "homizio-regular";
    src: url("../fonts/homizio/regular.ttf") format("eot"),
         url("../fonts/homizio/regular.woff2") format("woff2"),
         url("../fonts/homizio/regular.woff") format("woff"),
         url("../fonts/homizio/regular.ttf") format("truetype"),
         url("../fonts/homizio/regular.svg#regular") format("svg");
}

@font-face {
    font-family: "homizio-medium";
    src: url("../fonts/homizio/medium.ttf") format("eot"),
         url("../fonts/homizio/medium.woff2") format("woff2"),
         url("../fonts/homizio/medium.woff") format("woff"),
         url("../fonts/homizio/medium.ttf") format("truetype"),
         url("../fonts/homizio/medium.svg#medium") format("svg");
}

@font-face {
    font-family: "homizio-black";
    src: url("../fonts/homizio/black.ttf") format("eot"),
         url("../fonts/homizio/black.woff2") format("woff2"),
         url("../fonts/homizio/black.woff") format("woff"),
         url("../fonts/homizio/black.ttf") format("truetype"),
         url("../fonts/homizio/black.svg#black") format("svg");
}

@font-face {
    font-family: "homizio-bold";
    src: url("../fonts/homizio/bold.ttf") format("eot"),
         url("../fonts/homizio/bold.woff2") format("woff2"),
         url("../fonts/homizio/bold.woff") format("woff"),
         url("../fonts/homizio/bold.ttf") format("truetype"),
         url("../fonts/homizio/bold.svg#bold") format("svg");
}

@font-face {
    font-family: "souses";
    src: url("../fonts/souses/Souses.ttf") format("eot"),
         url("../fonts/souses/Souses.woff2") format("woff2"),
         url("../fonts/souses/Souses.woff") format("woff"),
         url("../fonts/souses/Souses.ttf") format("truetype"),
         url("../fonts/souses/Souses.svg#Souses") format("svg");
}
