@import "normalize";
@import "fonts";
@import "cores";

$font-homizio-thin: 'homizio-thin';
$font-homizio-light: 'homizio-light';
$font-homizio-regular: 'homizio-regular';
$font-homizio-medium: 'homizio-medium';
$font-homizio-black: 'homizio-black';
$font-homizio-bold: 'homizio-bold';
$font-souses: 'souses';

body {
    width: 100%;
    font-family: $font-homizio-regular;
    color: $cor-preto-6;

    p {
    	margin: 15px 0;
    }
}

header {

    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    background-color: $cor-azul;
    
    nav {
		width: 900px; /******** temporario ******/
    	margin: 38px auto 0;
    	text-align: center;

    	a {
    		font-family: $font-homizio-bold;
    		color: $cor-branco;
    		text-decoration: none;

    		&:nth-child(n+2) {
    			margin-left: 90px;
    		}

    		@media only screen and (min-width: 0) {
			  font-size: 50px;
			}

			@media screen and (min-width: 480px) {
			  font-size: 24px;
			}
    	}

    	a:link {
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
    }
}

section {
	width: 900px; /******** temporario ******/
	max-width: 900px;
	margin: 140px auto 0;

	article {
		text-align: center;

		h1 {
			font-family: $font-souses;
			font-size: 48px;
			color: $cor-azul;
			letter-spacing: 2px;
		}
	}

	form {
		width: 900px;
		height: 426px;
		margin-top: 30px;
		padding-top: 25px;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: $cor-azul;
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2), 
					0 12px 40px 0 rgba(0, 0, 0, 0.19);
		transition: 1s;

		&:hover {
			box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5), 
						0 12px 40px 0 rgba(0, 0, 0, 0.5);
			transition: 1s;
		}

		input {
			width: 800px;
			color: $cor-branco;
			font-size: 36px;
		}

		input:focus {
		  outline: none;
		}

		input[type='text'], input[type='email'], input[type='number'], #sexo {
			height: 54px;
			margin-bottom: 25px;
			border: 0;
			border-bottom: 2px solid $cor-branco;
			background-color: $cor-azul;
		}

		input[type='submit'] {
			height: 100px;
			margin-top: 15px;
			background-color: $cor-azul-escuro;
			border-color: $cor-azul-medio;
			border-radius: 5px;
			font-family: $font-homizio-regular;
			cursor: pointer;

			&:hover {
				border: 1px solid $cor-azul;
				background: $cor-azul-escuro;
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($cor-azul-escuro), to(#07384a));
				background: -webkit-linear-gradient(0% 0%, 0% 100%, from($cor-azul-escuro), to(#07384a));
				background: -moz-linear-gradient(center top, $cor-azul-escuro, #07384a);
			}
		}

		#sexo, .idade {
			width: 360px;
		}

		#sexo {
			height: 58px;
			margin-left: 78px;
			color: $cor-branco;
			font-size: 36px;
		}
	}

	article:first-child {

		.logo {
			margin: 0 auto;
			max-width: 400px;
			img {
				width: 100%;
			}
		}

		p {
			font-size: 24px;
		}
	}

	.calculadora-financeira {

		p {
			font-size: 30px;
		}

	}

	.guia-financas {

		p {
			font-size: 30px;
		}

		.p-tempo {
			margin-top: 30px;
			font-size: 24px;
		}

		.tempo {

			color: $cor-azul;

			& > div {
				display: inline-block;

				&:nth-child(n+2) {
					margin-left: 110px;
				}

				span {
					margin-top: 15px;
					display: block;
				}
			}

			
			.tempo-numero {
				font-family: $font-homizio-bold;
				font-size: 120px;
			}

			.tempo-texto {
				font-family: $font-homizio-regular;
				font-size: 48px;
			}

		}
	}

	.blog-financas {

		p {
			font-size: 18px;
		}

		.texto-destaque {
			font-family: $font-souses;
			font-size: 30px;
			margin-bottom: 40px;
		}

		img {
			max-width: 800px;
		}
	}
}
